[submodule "rladies-git-intro"]
	path = 20190418_rladies-git-intro
	url = https://github.com/cldougl/rladies-git-intro.git 
[submodule "20190919_DashR-Demo"]
	path = 20190919_DashR-Demo
	url = https://github.com/rpkyle/rladies-mtl-demo.git
[submodule "20200116_portfolio-modelling"]
	path = 20200116_portfolio-modelling
	url = https://github.com/Scott-Clone/portfolio-modelling.git
